// createStudComp.scss

.create-stud-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(74, 189, 188);

  .create-stud-info {
    width: 400px;
    background-color: #f1e9e9;
    padding: 20px;
    border-radius: 5px;

    h2 {
      color: black;
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

    .firstname-input-ctn,
    .lastname-input-ctn,
    .email-input-ctn {
      display: flex;
      width: 380px;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        color: black;
        font-size: 1rem;
        margin-bottom: 5px;
      }

      input {
        padding: 10px;
        font-size: 1rem;
      }
    }

    .success-btn {
      width: 30%;
      padding: 10px;
      background-color: #4caf50;
      border-radius: 8px;
      color: white;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
