// studentComponent.scss

.student-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(74, 189, 188);

  .search-bar-ctn {
    width: 280px;
    padding: 0 0 0 323px;
    background-color: #f1e9e9;
    border-radius: 5px;
    margin-bottom: 20px;

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }

  .search-results {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 10px;
      background-color: #d3d0d06f;
      border-radius: 5px;
      margin-bottom: 5px;
      font-weight: 600;
    }
  }
}

.student-info {
  background-color: #f1e9e9;
  height: 70vh;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 800px;

  h2 {
    margin-right: 200px;
    font-size: 2.2rem;
    margin-bottom: 20px;
  }
}

.student-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-btn {
  display: block;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.student-list-header {
  display: flex;
  height: 70px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.3rem;
  border-bottom: solid 2px #b1b0b06f;
}

.name {
  width: 100px;
  height: 30px;
  margin-left: 10px;
}

.email {
  width: 100px;
  height: 30px;
  margin-left: 210px;
}
.action {
  width: 100px;
  height: 30px;
  margin-left: 225px;
}

.student-list {
  width: 100%;
  height: 45vh;
  max-height: 45vh;
  overflow-y: auto;

  .student-item {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    padding: 10px;
    background-color: #d3d0d06f;
    border-radius: 5px;

    .student-name-ctn {
      display: flex;
      align-items: center;
      width: 300px;
    }

    .firstname-ctn {
      text-align: start;
      width: auto;
      font-weight: 600;
    }
    .lastname-ctn {
      text-align: start;
      width: auto;
      font-weight: 600;
      margin-left: 10px;
    }
    .email-ctn {
      text-align: start;
      width: 275px;
      margin-left: 10px;
      font-weight: 600;
    }
    .action-ctn {
      width: 190px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .primary-btn {
      width: 80px;
      display: inline-block;
      margin-left: 10px;
      padding: 5px;
      background-color: #3498db;
      color: #fff;
      font-size: 1rem;
      text-decoration: none;
      border-radius: 5px;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
    }
    .secondary-btn {
      width: 80px;
      display: inline-block;
      margin-left: 10px;
      padding: 5px;
      background-color: #e74c3c;
      color: #fff;
      font-size: 1rem;
      text-decoration: none;
      border-radius: 5px;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
