.update-stud-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(74, 189, 188);
}

.update-stud-info {
  width: 400px;
  padding: 20px;
  background-color: #f1e9e9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-top: 0;
}

.firstname-input-ctn,
.lastname-input-ctn,
.email-input-ctn {
  width: 380px;
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.success-btn {
  width: 30%;
  padding: 10px;
  background-color: #4caf50;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.success-btn:hover {
  background-color: #45a049;
}
